@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.category-btn {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  color: #222;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}
.category-btn:hover {
  background: #FFE4EE;
}
